img {
	height: 120px;
	width: 120px;
	border-radius: 60px;
}

img, #info {
	display: inline-block;
}

iframe {
	height: 500px;
	width: 850px;
}

a {
	text-decoration: none;
	color: black;
}

ul {
	list-style-type: none;
}

li {
	padding: 2px 5px;
	font-size: 1.5em;
}

li:hover {
	background-color: gray;
}

.bio {
	margin: 15px 5px;
	padding: 10px;
    border: black;
	border-radius: 1em;
	border-style: solid;
    border-width: .15em;	
    border-color: black;
    background-color: lightgray;
}