/*Title Section*/
.page-wrapper {
	height: 100%;
    width: 100%;
    /*background-color: #34495e; */
    overflow: hidden;
	background: url(../img/background.jpg) no-repeat center;
    background-size: cover;
	position: relative;

	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;

	transition: 1.5s;

	z-index: 100;
}

#page-wrapper {
	z-index: 10000;
}

#front-background {
	/*transform: translateX(15%);*/
	/*margin: 10px;*/
	/*padding: 40px 25px;
	width: 75%;
	height: 70%;
	min-width: 100px;
	min-height: 50px;*/
	padding: 40px 0;
	width: 0;
	height: 0;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	background-color: rgba(256, 256, 256, .6);
	border-radius: 7px;
	border-style: solid;
    border-width: medium;	
    border-color: white;

	/*font-size: 2em;*/
	text-align: left;
	text-transform: uppercase;
	font-family: Raleway, sans-serif;
	/*font-weight: bold;*/
	transition: .5s;
	/*transition: min-width 1.5s, width 1.5s ease-in, min-height 1s, height 1s, padding 2s;*/
	overflow: hidden;
}

.front-words {
	white-space: nowrap;
	overflow: hidden;
}


#front-pres {
	font-size: 1.85em;
}

#front-title {
	font-size: 5em;
	font-weight: 900;
}

#front-desc {
	font-size: 1.85em;
}

#front-rbc {
	font-size: 1.85em;
	font-weight: 200;
}

#front-date {
	font-size: 1.2em;
}

#front-date sup{
	font-size: .5em;
}

#front-border {
	border-left: black solid 1em;
	padding: 10px 20px;
}

#up-button {
	/*position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);*/
	width: 150px;
	margin: 10em auto;
	padding: 10px 20px;
	border: black;

	text-align: center;
	font-size: 1.25em;

	border-radius: .5em;
	box-shadow: 1px 1px 1px #0d0d0d;

	background-color: #de6868;
	color: #f2f2f2;
}

@media only screen and (max-width: 1050px) {
    .page-wrapper {
    	min-width: 100%;
    }

    .front-words {
    	white-space: inherit;
    }

    #front-pres {
		font-size: 1.25em;
	}

    #front-title {
    	font-size: 2.2em;
    }

	#front-desc {
		font-size: 1.2em;
	}

	#front-rbc {
    	font-size: 2em;
	}

	#front-date {
		text-align: center;
		line-height: 3em;
		font-size: 1em;
	}

	#front-date sup{
		font-size: .475em;
	}

	#front-border {
		border-left: 0;
		margin-top: 50px;
		padding: 0;
	}

	#up-button {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
	}
}

