body {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

/*Page Background*/
.card {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    width: 65em;
    opacity: 0;

    background-color: rgb(232, 232, 232);
    
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    transition: 1s, width 2s;
}

#welcome-title {
	/*position: absolute; */
	width: 100%;
	padding: 15px 0;
	margin: 1em 0;
	text-align: center;
	font-size: 2em;
	font-weight: 400;
	color: #FFF;
	background-color: rgb(0, 0, 0);
	overflow: hidden;
	transition: .5s all;

	font-family: Raleway;
	text-transform: uppercase;
}


#gallery, .welcome-card {
	margin: 5px auto;
	height: 465px;
	width: 520px;
}

#gallery-inside {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.gallery {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	height: 100%;
	width: auto;
	opacity: 0;
	transition: opacity 2s;
}

#form {
	height: 20px;
	width: 32%;
	right: 5%; 
	padding: 15px;
	background-color: lightgray;
    border-radius: 3px;
	text-align: center;
}

#form:hover {
	background-color: lightblue;
    box-shadow: 0px 0px 15px 1px blue;
    
}
